@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Bungee+Shade&family=Just+Another+Hand&family=Modak&display=swap" rel="stylesheet");

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");

body {
	background-color: #F9F3DF;
	font-family: 'Bungee Shade', cursive;
	font-size: 18px;
	margin: 0px;
	}

h1 {
	font-family: 'Bungee Shade', cursive;
	} 
h2 {
	font-family: 'Modak', cursive;
}
h4 {
	font-family: 'Bungee Shade', cursive;
	font-size: 30px;
	text-align: center;
	color: #FF7BA9;
}
h3 {
	color: #FF7BA9;
}
a {
	text-decoration: none;
}